* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  justify-items: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  height: 100vh;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: white;
  position: relative;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
h1 {
  position: absolute;
  top: 15px;
  font-family: monospace;
}
p {
  text-align: center;
  font-family: monospace;
  font-weight: 700;
  color: rgb(108, 108, 108);
}
