/*CSS GERAL*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*VARIAVEIS CSS*/
:root {
  --cor-um: #ffffff;
  --cor-dois: #000000;
  --cor-tres: #f0a500;
  --cor-quatro: #2fa4ff;
  --cor-cinco: #777777;
  --fonte-um: "Open Sans", sans-serif;
  --fonte-dois: "Roboto", sans-serif;
  --fonte-tres: "Arvo", serif;
}
/*FUNDO FINAL DO SITE*/
body {
  background: var(--cor-um);
}
/*HEADER*/
#welcome {
  height: 90vh;
  background: var(--cor-dois);
}
/*NAVEGAÇÃO DE LINKS*/
#welcome nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: var(--cor-dois);
}
#welcome nav ul {
  display: flex;
  align-items: center;
}
#welcome nav ul li {
  list-style: none;
}
#welcome nav ul a {
  text-decoration: none;
}
#welcome nav ul:nth-child(1) li {
  color: var(--cor-um);
  font-family: var(--fonte-um);
  margin: 0 15px 0 15px;
  font-weight: 700;
  font-size: 15pt;
  padding: 5px;
}
#welcome nav ul:nth-child(2) li {
  background: var(--cor-um);
  font-family: var(--fonte-tres);
  font-size: 20pt;
  margin-right: 15px;
  border-radius: 5px;
  padding: 5px;
}
#welcome nav ul:nth-child(1) li:hover {
  cursor: pointer;
  transition: 500ms;
  color: var(--cor-quatro);
  background-color: var(--cor-um);
  border-radius: 5px;
}
#welcome nav ul:nth-child(2) li:hover {
  cursor: pointer;
  transition: 500ms;
  color: var(--cor-um);
  background-color: var(--cor-quatro);
}
#welcome nav ul:nth-child(1) li:nth-child(1) {
  color: var(--cor-quatro);
}
/*CONTEÚDO DO HEADER*/
#apresentacao {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*TEXTO DO CONTEÚDO DO HEADER*/
#apresentacao .iam h1 {
  width: 90vw;
  font-size: 60pt;
  color: var(--cor-um);
  font-family: var(--fonte-dois);
}
#apresentacao .iam p {
  width: 80vmin;
  color: var(--cor-cinco);
  margin: 20px 0 30px 0;
  font-family: var(--fonte-um);
  font-weight: 600;
}
/*BOTÕES DO HEADER*/

#btn button {
  width: 170px;
  height: 45px;

  color: var(--cor-um);
  outline: none;
  border-radius: 17px;
  font-family: var(--fonte-dois);
  font-weight: 100;
  background-color: var(--cor-quatro);
  border: none;
}

#btn button:hover {
  background: transparent;
  color: var(--cor-um);
  transition: 300ms;
  border: 2px solid var(--cor-um);
}

/*RESPONSIVIDADE*/
@media (max-width: 600px) {
  nav {
    visibility: hidden;
  }
  #btn {
    flex-direction: column;
  }
  #btn button:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  #btn button:nth-child(2) {
    margin-left: 0px;
    margin-top: 10px;
  }
  .habilidades-skills {
    flex-direction: column-reverse;
  }
}
