@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Slabo+27px&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: grid;
    height: 100vh;
    justify-items: center;
    background-image: url(/image/background/background\ desktop.png);
    background-repeat: no-repeat;    
    background-position: center;
    background-size: cover;
    
}
:root{
    --fonte-principal: 'Slabo 27px', serif;
    --fonte-secundaria: 'Roboto', sans-serif;
    --cor-items-secund치rio: white;
    --cor-items-principal: #0AA1DD;
    --cor-bg-principal: #000000;
}
nav{
margin-top: 30px;
}
.logo{
    max-width: 100%;
    height: auto;
}
.logo img{
    width: 250px;
    height: 130px;
}
.links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 300px;
    box-shadow: 4.45px 4.45px 10.69px rgba(0, 0, 0, 0.20);
    position: relative;
    background: var(--cor-items-secund치rio);
}
.links h1{
    font-family: var(--fonte-principal);
    position: absolute;
    top: 10px;
}
.links button{
    width: 435px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: var(--fonte-secundaria);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 11px;
    color: var(--cor-items-secund치rio);
    background-color: var(--cor-items-principal);
    margin: 5px;
}
.links button:hover{
    box-shadow: 0 0 20px var(--cor-items-principal);
    transition: 100ms;
    transform: scale(0.9);
}
#butao{
    display: flex;
    justify-content: center;
    flex-direction: column;
 
}
footer{
    background: var(--cor-items-principal);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: flex-end;
}
footer p{
    color: var(--cor-items-secund치rio);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 15px;
    margin: 3px;
}
@media (max-width: 500px){
    .links{
        width: 300px;
    }
    .links button{
        width: 250px;
    }
    .logo img{
        width: 200px;
        height: 100px;
    }
    body{
        background-image: url(/image/background/background\ mobile.png);
    }
}

